<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
    <a class="navbar-brand" href="#">
        <img src="assets/logowat.png" style="width:50px;">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><font color ="black">Water Stewardship</font><span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li>
            <a class="nav-link" href="#"><font color="black">About Us</font></a>
          </li>
          <li>
              <a class="nav-link" href="#"><font color="black">Help</font></a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" style="font-size:30px" routerLink="login"><font color="black">Login/SignUp</font></a>
</li>
      </ul>
    </div>
   
  </nav>


  <div><img src="assets/bubbles.jpg" alt="Flowers in Chania" style="width:1290px;height:560px;">  </div>
  